.flash-card {
    border: 1px black solid;
    width: 250px;
    height: 150px;
}

.flash-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }